* {
  font: san-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100vw;
  /* height: 100vh; */
  background-color: rgba(255, 255, 255, 0.856);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section player details */
.player {
  margin-top: 1rem;
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.player__X {
  font-size: 2rem;
  color: #09c6f9;
}
.player__O {
  font-size: 2rem;
  color: #e9902a;
}
.player__score {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 5px;
}

/* player turns */
.turn {
}
.turn__text {
  font-size: 1.5rem;
  font-weight: 400;
}
/* section tic-tac-toe playtile */
.board {
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  display: grid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  /* gap: 10px; */
}
.board__tile {
  border: 1px solid rgba(87, 86, 86, 0.235);
  /* border-radius: 5px; */
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
}
.board__tile.letter__X {
  background: -webkit-linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 15px 25px #045de9;
  font-size: 3rem;
  font-weight: 900;
  transition: font-size 0.3s ease-in-out;
}
/* background-color: #045de9; */
/* background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
.board__tile.letter__O {
  background: -webkit-linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 15px 25px #e9902a;
  font-size: 3rem;
  font-weight: 900;
  transition: font-size 0.3s ease-out;
}

/* controls */
.controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.controls__btn {
  appearance: button;
  backface-visibility: hidden;
  /* background-color: #e64f4f; */

  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.controls__btn:disabled {
  cursor: default;
}

.controls__btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(131, 47, 5, 0.3) 0 0 0 4px;
}
.controls__reset {
  width: 150px;
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
}
.controls__end {
  width: 150px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.board__strike {
  position: absolute;
  /* left: ; */
  width: 5px;
  height: 0;
  transform-origin: top center;
  /* height: 300px; */
  /* background-color: #e9902a; */
  transition: all 0.5s;
}
